.sidebar {
  padding: 0;
  background-color: white;
  border-right: 2px solid #108EE9;
  font-size: 16px;
  height: 92.3vh;
}

.contact-list {
  margin-top: 0vh;
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.contact-list-header {
  margin-top: 3vh;
}

.contact-list-title {
  float: left;
  margin-left: 2vw;
}

.contact-list-header Button {
  float: right;
  margin-right: 2vw; 
}

.clearfix {
  clear: both;
}

.continue {
  float: right;
  margin-top: 5px;
}

.contact-list-item {
  transition: 0.4s all ease;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  padding-top: 2vh;
  color: #222;
  font-size: 16px;
}

.contact-list-item:hover {
  color: #108EE9;
}
