.contact-container {
  background-color: white;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.contact-name {
  margin-top: 18vh;
  align-self: right;
}

.edit-group {
  font-size: 16px;
}

.back-button {
  float: left;
}

.edit-button {
  float: right;
}

.social-media-group img {
  margin-right: 10px;
}

.float-right {
  float: right;
  margin-right: 5vw;
}

.float-left {
  float: left;
}

.social-media-group button {
  margin: 10px;
}